@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.name{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 50px;
	text-align: center;
}

.tab{
	text-align: left;
}

.pic{
	height: 310px;
	width: 250px;
	display: grid;
	margin-top: 20px;
	margin-left: 30px;
}

.text-inside-backg{
	float: left;
	font-size: 30px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	display: grid;
	margin-left: 60px;
	margin-top: 20px;
	color:azure;
}

.div{
	width: 800px;
	height: 500px;
	margin: auto;
	
}

.backg{
	background-image: url("back-design.jpg");
    background-position: center; 
    background-size: cover;
    height: 500px;
	width: 800px;
    background-repeat: no-repeat;
	display: flex;
	align-items: center;
	margin: auto;
}
